$media-query: (
    fourk,
    (
      min-width: 2560px,
    )
  ),
  (
    twok,
    (
        min-width: 1980px,
      )
      // and
    // (
    //   max-width: 2559px,
    // )
  ),
  (
    wide,
    (
      min-width: 1441px,
    )
  ),
  (
    tablet,
    (
        min-width: 768px,
      )
      and
      (
        max-width: 1024px,
      )
  ),
  (
    mobile,
    (
      max-width: 767px,
    )
  ),
  (
    small-mobile,
    (
      max-width: 360px,
    )
  );

$purple-color: rgb(130, 53, 140);
$purple-color-light-1: rgb(201, 100, 211);
$pink-color: rgb(255, 49, 147);
$pink-color-dark-1: rgb(217, 17, 123);
$pink-color-light-1: rgb(244, 68, 160);
$dark-grey-color: rgb(66, 63, 72);

@font-face {
  font-family: PTSans-Regular;
  src: url('../font/PTSans-Regular.ttf');
}
@font-face {
  font-family: FuturaPT-Bold;
  src: url('../font/PTSans-Bold.ttf');
}
