.footer {
  width: 100%;
  background-color: $pink-color-dark-1;
  margin-top: 20px;
  min-height: 500px;

  &__border-1 {
    background-color: $purple-color-light-1;
    height: 10px;
  }

  &__border-2 {
    background-color: $pink-color-light-1;
    height: 10px;
  }

  &__border-3 {
    background-color: #eee;
    height: 10px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    @include breakpoint(twok) {
      padding: 30px 420px;
    }
    @include breakpoint(mobile) {
      padding: 15px;
    }
    .box-logo {
      width: 120px;
      height: 120px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 200px;
        height: 200px;
      }
    }

    .box-icon-socmed {
      display: flex;
      justify-content: space-between;
      width: 30%;
      height: 100px;
      margin: 20px 0;
      align-items: center;
      
      @include breakpoint(tablet) {
        width: 50%;
      }
      @include breakpoint(mobile) {
        width: 70%;
      }
      &__icon {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include breakpoint(mobile) {
          width: 40px;
          height: 40px;
        }

        img{
          width: 90%;
          height: 90%;

          @include breakpoint(mobile) {
            width: 90%;
            height: 90%;
          }
        }
      }
    }

    .box-footer-nav {
      margin: 15px 0;
      text-align: center;
      @include breakpoint(tablet) {
        width: 70%;
      }
      @include breakpoint(mobile) {
        width: 90%;
      }
      ul {
        list-style: none;
        li {
          display: inline;
          color: #fff;
          margin: 0 10px;
          text-transform: uppercase;
          @include breakpoint(mobile) {
            flex: 1;
          }

          a {
            text-decoration: none;
            font-weight: 600;

            &:link,
            &:visited {
              color: #fff;
            }
          }
        }
      }
    }

    .box-desc {
      width: 500px;
      text-align: center;
      padding: 10px 0;
      color: #fff;
      @include breakpoint(mobile) {
        width: 100%;
      }
    }

    .box-rights {
      display: flex;
      justify-content: space-between;
      width: 35%;
      margin: 15px 0;
      @include breakpoint(tablet) {
        width: 60%;
      }
      @include breakpoint(mobile) {
        flex-direction: column;
        align-items: center;
        width: 70%;
      }
      &__img-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45%;
        height: 60px;
        color: #fff;
        @include breakpoint(mobile) {
          margin-bottom: 20px;
          width: 100%;
        }
        img{
          margin-right: 20px;
        }
      }
      &__img-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        height: 60px;
        color: #fff;
        @include breakpoint(mobile) {
          margin-bottom: 20px;
          width: 100%;
        }

        img{
          margin-right: 20px;
        }
      }
    }
  }
}
