@mixin button-slick {
  height: max-content;
  position: absolute;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 30px;
  outline: none;
  cursor: pointer;
  z-index: 10;
  opacity: 0.7;
  
}

@mixin button-slick-2 {
  position: absolute;
  font-size: 20px;
  z-index: 10;
  // width: 30px;
  // height: 30px;
  top: 0;

  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-purple {
  background-color: $purple-color;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
  // font-family: PTSans-Regular;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  &:hover {
    background-color: $pink-color;
  }
}

.btn-grey-o {
  background-color: transparent;
  color: #fff;
  border: 2px solid $dark-grey-color;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  color: $dark-grey-color;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s;
  // font-family: PTSans-Regular;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  &:hover {
    background-color: $purple-color;
    border-color: $purple-color;
    color: #fff;
  }
}

.slick-previous {
  @include button-slick;
  left: 80px;
  
  
}

.slick-previous-2 {
  @include button-slick-2;
  left: 150px;
  margin-top: -100px;
  @include breakpoint(twok) {
    left: 550px;
  }
  @include breakpoint(tablet) {
    left: 80px;
  }
}

.slick-nexter {
  @include button-slick;
  right: 80px;
}

.slick-nexter-2 {
  @include button-slick-2;
  right: 150px;
  margin-top: -100px;
  @include breakpoint(twok) {
    right: 550px;
  }
  @include breakpoint(tablet) {
    right: 80px;
  }
}
