.hero-carousel {
  background-color: $purple-color;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__content {
    height: 500px;
    outline: none;
    text-decoration: none;
    @include breakpoint(twok) {
      height: 700px;
    }

    @include breakpoint(tablet) {
      height: 350px;
    }
    @include breakpoint(mobile) {
      height: 350px;
    }

    img {
      object-fit: cover;
      object-position: bottom;
      width: 100%;
      height: 100%;
      @include breakpoint(mobile) {
        object-position: top;
      }
    }
  }
}

.tips-carousel {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  @include breakpoint(twok) {
    padding: 0 520px;
  }

  &__content {
    padding: 0 10px;
    outline: none;

    .card-tips {
      flex: 1;
      min-height: 350px;
      text-decoration: none;
      color: #000;
      outline: none;
      @include breakpoint(mobile) {
        min-height: 200px;
      }

      &__box-img {
        width: 100%;
        height: 260px;
        background-color: $purple-color;
        position: relative;
        @include breakpoint(tablet) {
          height: 200px;
        }
        @include breakpoint(mobile) {
          height: 150px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }

        .category-tips {
          background-color: #fff;
          text-transform: uppercase;
          width: max-content;
          position: absolute;
          bottom: 15px;
          left: 15px;
          padding: 5px 10px;
          font-size: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          @include breakpoint(mobile) {
            bottom: 0;
            left: 0;
            font-size: 10px;
          }
          padding: 5px;
        }
      }

      &__title-box {
        padding: 10px 15px;
        @include breakpoint(mobile) {
          padding: 10px 8px;
          font-size: 12px;
        }
      }
    }
  }
}

.product-sunsilk-carousel {
  padding: 20px 0;
  @include breakpoint(twok) {
    padding: 0 520px;
  }

  &__content {
    padding: 0 10px;
    outline: none;

    .card-product {
      flex: 1;
      min-height: 450px;
      @include breakpoint(mobile) {
        min-height: 400px;
      }

      &__box-img {
        height: 350px;
        @include breakpoint(tablet) {
          height: 250px;
        }
        @include breakpoint(mobile) {
          height: 200px;
        }

        a {
          outline: none;
          text-decoration: none;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &__desc-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;

        a{
          outline: none;
        text-decoration: none;
        }

        h3 {
          min-height: 50px;
          font-size: 20px;
          margin: 10px 0;
          color: #000;
        }

        span {
          color: #777;
          text-transform: uppercase;
          font-size: 12px;
          margin: 10px 0;
        }

        .btn-lihat-detail {
          padding: 10px 20px;
          font-size: 14px;
          @include breakpoint(tablet) {
            padding: 10px;
          }
          @include breakpoint(mobile) {
            padding: 10px 8px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

.instagram-carousel {
  padding: 20px 0;
  @include breakpoint(twok) {
    padding: 0 520px;
  }

  &__content {
    padding: 0 10px;
    outline: none;

    .card-img {
      flex: 1;
      height: 350px;
      background-color: $purple-color;
      @include breakpoint(twok) {
        height: 250px;
      }
      @include breakpoint(tablet) {
        height: 200px;
      }
      @include breakpoint(mobile) {
        height: 150px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
