.title-box{
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-1{
    font-size: 24px;
    text-transform: uppercase;
    color: $purple-color;
    margin-bottom: 15px;
    font-weight: 600;
    @include breakpoint(mobile) {
        font-size: 16px;
      }
}

.title-desc{
    color: #777;
    width: 300px;
    text-align: center;
}