.hero-2 {
  width: 100%;
  height: 250px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  @include breakpoint(twok) {
    padding: 0 520px;
  }

  @include breakpoint(mobile) {
    height: 200px;
  }

  img{
    width: 35%;
    margin-top: -70px;

    @include breakpoint(tablet) {
      width: 50%;
    }
    @include breakpoint(mobile) {
      width: 90%;
      margin: 0;
      margin-bottom: 20px;
    }
  }
}

.hero-icon {
  width: 100%;
  height: auto;
  margin-top: -65px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  @include breakpoint(twok) {
    padding: 0 520px;
    margin-top: -50px;
  }
  @include breakpoint(tablet) {
    background-color: #eee;
    padding: 20px 15px;
    margin-bottom: 20px;
  }
  @include breakpoint(mobile) {
    background-color: #eee;
    padding: 20px 15px;
    margin-bottom: 20px;
  }

  .box-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
    @include breakpoint(tablet) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;
      grid-row-gap: 20px;
    }
    @include breakpoint(mobile) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
    }
    &__box {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      &:hover .box-img {
        background-color: $purple-color;
      }

      .box-img {
        width: 100px;
        height: 100px;
        background-color: $pink-color;
        border-radius: 50%;
        margin-bottom: 20px;
        transition: all 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        @include breakpoint(tablet) {
          width: 80px;
          height: 80px;
          margin-bottom: 10px;
        }
        @include breakpoint(mobile) {
          width: 70px;
          height: 70px;
          margin-bottom: 10px;
        }

        img {
          object-fit: contain;

          @include breakpoint(mobile) {
            width: 60%;
            height: 60%;
          }
        }
      }
      .text-ico {
        text-transform: uppercase;
        color: rgb(49, 49, 49);
        @include breakpoint(mobile) {
          font-size: 12px;
        }
      }
    }
  }
}

.box-explore-product {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include breakpoint(mobile) {
    height: 120px;
  }

  .btn-explore-product {
    padding: 15px 25px;
    font-size: 14px;
    @include breakpoint(mobile) {
      padding: 10px;
      font-size: 12px;
    }
  }
}
